Data Science Packages imported:

In [33]:
import pandas as pd
import numpy as np
import matplotlib as pyplot

In [34]:
cancer_data=pd.read_csv('Cancer_rate_by_countries.csv') #2018 data
meat_data=pd.read_csv('meat_consumption_worldwide.csv')

In [35]:
cancer_data.head()

   Unnamed: 0  Rank        Country  Cancer_Rate
0           0     1      Australia        468.0
1           1     2    New Zealand        438.1
2           2     3        Ireland        373.7
3           3     4        Hungary        368.1
4           4     5  United States        352.2

In [39]:
new_colnames2 = [x.lower().replace(' ', '_') for x in cancer_data.columns]
cancer_data.columns=new_colnames2
cancer_data=cancer_data.drop(columns=['unnamed:_0'])
cancer_data.head()

   rank        country  cancer_rate
0     1      Australia        468.0
1     2    New Zealand        438.1
2     3        Ireland        373.7
3     4        Hungary        368.1
4     5  United States        352.2

In [37]:
meat_data.head()

  LOCATION SUBJECT MEASURE  TIME      Value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226

In [21]:
new_colnames = [x.lower().replace(' ', '_') for x in meat_data.columns]
meat_data.columns=new_colnames
meat_data.head()

  location subject measure  time      value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226

In [31]:
meat_data.dtypes

location     object
subject      object
measure      object
time          int64
value       float64
dtype: object

In [25]:
meat_data.head()

  location subject measure  time      value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226

In [26]:
meat_data= meat_data[meat_data['time']==2018]

In [27]:
meat_data.head()

    location  subject measure  time      value
27       AUS     BEEF  KG_CAP  2018  20.483325
63       AUS      PIG  KG_CAP  2018  20.648309
100      AUS  POULTRY  KG_CAP  2018  45.145892
137      AUS    SHEEP  KG_CAP  2018   8.721527
174      CAN     BEEF  KG_CAP  2018  18.202212

In [40]:
meat_data=meat_data.reset_index()

In [41]:
meat_data.head()

   index LOCATION SUBJECT MEASURE  TIME      Value
0      0      AUS    BEEF  KG_CAP  1991  27.721815
1      1      AUS    BEEF  KG_CAP  1992  26.199591
2      2      AUS    BEEF  KG_CAP  1993  26.169094
3      3      AUS    BEEF  KG_CAP  1994  25.456134
4      4      AUS    BEEF  KG_CAP  1995  25.340226

In [42]:
meat_data.columns

Index(['index', 'LOCATION', 'SUBJECT', 'MEASURE', 'TIME', 'Value'], dtype='object')

In [43]:
meat_data= meat_data.drop(columns=['index'])

In [44]:
meat_data.head()

  LOCATION SUBJECT MEASURE  TIME      Value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226