In [17]:
import pandas as pd
import numpy as np
import matplotlib as pyplot

In [18]:
cancer_data=pd.read_csv('Cancer_rate_by_countries.csv')
meat_data=pd.read_csv('meat_consumption_worldwide.csv')

In [19]:
cancer_data.head()

   Unnamed: 0  Rank        Country  Cancer_Rate
0           0     1      Australia        468.0
1           1     2    New Zealand        438.1
2           2     3        Ireland        373.7
3           3     4        Hungary        368.1
4           4     5  United States        352.2

In [20]:
meat_data.head()

  LOCATION SUBJECT MEASURE  TIME      Value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226

In [2]:
meat_data.get_dummies()
# meat
okok

NameError: name 'meat_data' is not defined